@import '@/assets/layout/layout.css';
@import 'primeicons/primeicons.css';
/* @import '@/assets/demo/demo.scss'; */

.dropdown {
    position: relative;
    display: inline-block;
    /* Align the dropdown */
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--surface-ground);
    border: 1px solid var(--surface-border);
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.dropdown-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown-list li {
    padding: 10px 15px;
    cursor: pointer;
}

.dropdown-list li:hover {
    background-color: var(--surface-hover);
    border-radius: 4px;
}

.portlet {
    display: block;
    width: fit-content;
    padding: 18px;
    border: 1px solid var(--surface-border);
    border-radius: 3px;
}

.portlet-title {
    text-decoration: uppercase;
    font-weight: 600;
    font-size: 12px;
    width: 100%;
    color: #9EA8B7;
}

.portlet-title {
    border-bottom: 1px solid var(--surface-border);
    padding-bottom: 10px;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.portlet-body {
    padding-top: 10px;
}

.stattic-info {
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr 1fr;
    padding: 5px 0;
}

.invoice-desc {
    font-weight: bold;
}

.form-fields {
    display: grid;
    width: 100%;
    grid-template-columns: 2fr 1fr 2fr;
    margin-bottom: 14px;
}

.form-group {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
}

.control-label {
    display: grid;
    width: fit-content;
}

.save-buttons {
    position: fixed;
    background: var(--surface-card);
    padding: 12px;
    bottom: 2rem;
    border-radius: var(--content-border-radius);
    display: flex;
    gap: 12px;
    justify-content: flex-end;
    right: 2rem;
    transition: 
        transform var(--layout-section-transition-duration),
        all var(--layout-section-transition-duration);
    width: calc(100% - 26rem);
}

.layout-sidebar-open .save-buttons {
    width: calc(100% - 26rem);
}

.layout-sidebar-closed .save-buttons {
    width: calc(100% - 4rem);
}
